#transition-to-landscape {    
    display: none;
}

@media screen and (max-width: 415px) {    
    #transition-to-landscape {    
    position: absolute;
    z-index: 99;
    height: 200vh;
    width: 200vw;
    background-color: black;
    color: white;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    }     
}